body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-top: 9rem;
    width: 95%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.comicinfo {
    display: grid;
    padding: 3rem;
    background: rgb(85, 85, 85);
    border: 3px solid black;
}

.imgcover {
    height: 30rem;
    grid-row: 1/span 2;
}

.info {
        grid-column-start: 2;
        padding-left: 3rem;
}

.info h2 {
    margin-top: 0;
}

.character-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.characterlist {
    background-color: darkred;
    border: 3px solid black;
    margin-top: 3rem;
}

.headerbutton {
    background-color: darkred;
    align-self: center;
    color: black;
    border: none;
    padding: 0;
}

.charactersheader h2 {
    margin-top: 1rem;
    margin-left: 4.5rem;
    font-size: 3rem;
    align-self: center;
}

.charbutton {
    background: rgb(85, 85, 85);
    border: 3px solid black;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    align-self: flex-end;
    color: white;
}

.charactercards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.cards {
    margin: 1.5rem;
    position: relative;
    background: rgb(85, 85, 85);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 3px solid black;
    text-align: center;
    width: 45%
}

.cardgrid{
    display: grid;
    padding: 2rem;
}

.gridinfo {
    padding: 2rem;
    column-span: 1/1;
}


.cards h6 {
    font-size: 2rem;
}

.cards img {
    height: 250px;
}


.description {
    padding-left: 2rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    grid-column-start: 2;
}

.backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

.removebutton {
    background: rgba(85, 85, 85, 0);
    top: auto;
    height: 2rem;
    width: 2rem;
}

.glyphicon.gylphicon-plus {
    font-size: 6rem;
    color: white;
}

.charbutton:hover,
.charbutton:active {
    background: khaki;
    border: 3px solid rgb(85, 85, 85);
    color:  rgb(85, 85, 85);  
}

.modal-content {
    background-color: darkred;
    border: 3px solid black;
    margin-top: 3rem;
    color: white;
}

.modalheader {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
}

.modal-title {
    text-shadow: #000 2px 2px 0px;
    font-size: 3rem;
    text-align: center;
}

.modal-footer {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
    padding-right: 0;
}

.footerbutton {
    background: rgb(85, 85, 85);
    border: 3px solid black;
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    justify-content: space-evenly;
    align-self: center;
    color: white;
    margin: 0;
}

@media (max-width: 786px) {

    .charactercards {
        flex-direction: column; 
    }

    .cards {
        width: 95%
    }

    .cardgrid {
        padding: .3rem;
    }

    .removebutton {
        position: relative;
        bottom: 1rem;
        right: .7rem;
    }

    .modal-title {
        font-size: 2rem;
    }

    .modal-body {
        margin-top: 0;
        margin-bottom: 0;
    }

}

@media (max-width: 500px) {

    .container {
        padding-top: 18rem;
        width: 98%;
        padding-left: 0;
        padding-right: 0;
    }

    .comicinfo {
        padding: 1rem;
    }

    .imgcover {
        margin: auto;
    }

    .info {
        grid-column-start: 1;
        grid-row-start: 3;
        padding-left: 0;
    }
    
    .info h2 {
        text-align: center;
    }

    .generalinfo {
        grid-column: 1/span 2;
        display: flex;
        padding: auto;
        margin: auto;
    }

   .mobile {
        flex-direction: column;
        text-align: left;
        align-self: flex-end;
        padding-left: 2rem;
    }

    .description {
        grid-row-start: 2;
        grid-column: 1/span 2;
        padding: 2rem;
        text-align: center;
    }


    .footerbutton {
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 330px) {

        .row {
            display: flex;
            flex-flow: column;    
        }

        .charactersheader h2 {
            margin-left: auto;
            margin-right: auto;
        }
        
        .charbutton {
            margin-left: auto;
            margin-right: auto;
        }
        
    }
} 
