<head>
        <meta charset="utf-8">
        <title>PMeComics</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
      <div class="comic-container">
        <div *ngFor="let comic of Comics" class="cards">
            <a routerLink="/comic-details/{{comic.id}}">
              <img class="cover" src="{{comic.image}}" alt="No Image Found">
              <h4 class="comic-title">{{comic.name}}</h4></a>
              <div class="description">
              <p class="descriptiontext" >{{comic.description | truncate}}</p>
              </div>
            </div>
      </div>
</body>