<head>
        <meta charset="utf-8">
        <title>PMeComics</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
      <div class="comic-container">
        <div *ngFor="let c of Comics" class="cards">
            <a routerLink="/comic-details/{{c.id}}">
              <img class="cover" src="{{c.image}}" alt="No Image Found">
              <h4 class="comic-title">{{c.name}}</h4></a>
              <div class="description">
              <p class="descriptiontext" >{{c.description}}</p>
              </div>
            </div>
            
      </div>
</body>