<div *ngIf="comic" style="color: white;" class="container" >
    <div class="comicinfo">
        <img src="{{comic.image}}" class="imgcover">
            <div class="info">
                <h2>{{comic.name | uppercase}}</h2>
                <p>{{comic.description}}</p>
            </div>
    </div>
    <div class="characterlist">
        <div class="charactersheader">
            <div class="row">
                <h2>Characters</h2>
                    <button type="button" class="btn charbutton" (click)="openModal()">
                            <span class="glyphicon glyphicon-plus"></span>
                            <h6 class="buttontext">Add Character</h6>
                    </button>
            </div>
            <character-info></character-info>
        </div>
    </div>

